body {
	text-align: center;
}

.gridContainer {
	width: 511px;
	display: inline-grid;
	justify-content: center;
	margin-top: 20px;
	border: 5px solid grey;
}

.gameFrame {
	background-color: rgb(255,73,73);
	display: inline-block;
	width: 900px;
	text-align: center;
	margin-top: 50px;
	border: 2px solid black;
	border-radius: 25px;
	padding: 0 0 40px 110px;
}

.gridItem  {
	display: inline-block;
	background-color: white;	
}

button {
	font-size: 25px;
	font-weight: bold;
	margin: 15px 0px 0 10px;
	border: 2px solid black;
	border-radius: 4px;
}

button:active {
	border-color: orange;
}

button.colorSelector {
	margin: 15px 0 0 0;
	font-size: 20px;
}

button.colorSelector:focus {
	border-color: yellow;
}

#colorMulti {
	position: relative;
	margin-top: 35px;
}

#sideTools {
	position: relative;
	display: inline-block;
	float: right;
	text-align: left;
	width: 110px;
	height: 285px;;
	margin-top: 170px;
	right: 120px;
	border: 2px dotted black;
	border-radius: 4px;
	padding: 3px;
	background-color: rgb(225, 40, 40);
}